        
					<div class='item-img-content'>
					<% if opus.youtube_url.present? %>
						<iframe width="270" height="270" src="https://www.youtube.com/embed/<%= opus.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<% else %>
						<%= image_tag opus.image.variant(resize: '500x500'), class: 'item-img' if opus.image.attached? %>
					<% end %>
					</div>
          <%= link_to opus_path(opus.id) do %>
					<div class='item-info'>
						<h3 class='item-name'>
							<%= opus.title %>
						</h3>
						<div class='item-price'>
						</div>
						<h3 class="item-name">
							<p>creatter：<%= opus.user.nickname %></p>
						</h3>
					</div>
          <% end %>
          <% if user_signed_in? %>
              <% if current_user.liked_by?(opus.id) %>
                  <td>
                    <%= link_to destroy_like_path(opus), class: "like-link", method: :DELETE, remote: true do %>
                      <i class="fa fa-heart unlike-btn"></i>
                    <% end %>
                    <%= opus.likes.count %>
                  </td>
                <% else %>
                  <td>
                    <%= link_to create_like_path(opus), class: "like-link", method: :POST, remote: true do %>
                      <i class="fa fa-heart like-btn"></i>
                    <% end %>
                    <%= opus.likes.count %>
                  </td>
          <% end %>
            
            <% end %>