<%= render "shared/header.header" %>
<div class="opus-back">
<div class="contents">
     <div class="flexbox">
       <div class="box1">
          <div id="opus-show-box1">
       <%# <div id="show-left1"> %>
        <div id="show-opus-image">
          <% if @opus.youtube_url.present? %>
           <iframe width="400" height="300" src="https://www.youtube.com/embed/<%= @opus.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
          <% else %>
           <%= image_tag @opus.image.variant(resize: '500x500') %>
          <% end %>
        </div>
          <script>
            $('#show-opus-image').fadeIn(3000);
         </script>
       <%# </div> %>
       <div id="show-left2">
        <div id="left2-title">
          <%= @opus.title %>
        </div>
       </div>
       <div id="show-left3">
        <div id="left3-description">
          <%= @opus.description %>
        </div>
       </div>
       <div id="show-left4">
       <div id="left4-btn">
        <% if user_signed_in? && current_user.id == @opus.user.id %>
            <%= link_to "編集する", edit_opus_path(@opus.id), class: "btn btn-primary btn-lg" %>
            <%= link_to "削除する", opus_path(@opus.id), method: :delete, class: "btn btn-danger btn-lg" %>
            <% else %>
            <%= link_to "作者", user_path(@opus.user.id), class: "btn btn-warning btn-lg" %>
          <% end %>
          <div id="opus_show_<%= @opus.id %>">
          <%= render partial: 'likes/like', locals: { opus: @opus} %>
          </div>
          
       </div>
       </div>
      </div>
         </div>
         <div class="box2">
             <div id="opus-show-middle">
                <div id="opus-show-box2">
                  <div id="show-middle1">
                    <div id="comment-message">
                    <% @comments.reverse_each do |message| %>
                        <p><%= message.text %>:by<%= message.user.nickname %> 投稿日時:<%= l message.created_at %></p>
                      <% end %>
                    </div> 
                  </div>
                  <div id="show-middle2">
                    <%= bootstrap_form_with model: [@opus,@comment] do |form| %>
                    <%= form.text_field :text %>
                    <button class="btn btn-primary btn-lg">コメント</button>
                    <% end %>
                  </div>
                </div>
             </div>
         </div>
     </div>
 </div>
</div>
