<%= @opus.title %>
<%= @opus.description %>
<%= image_tag @opus.image.variant(resize: '500x500') %>
<p>by<%= link_to @opus.user.nickname, user_path(@opus.user.id) %></p>
<% if user_signed_in? && current_user.id == @opus.user.id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_opus_path(@opus.id), class: :prototype__btn %>
          <%= link_to "削除する", opus_path(@opus.id), method: :delete, class: :prototype__btn %>
        </div>
<% end %>

<h3>comment</h3>
<%= form_with model: [@opus, @comment] do |f| %>
  <%= f.text_field :text %>
  <%= f.submit '送信' %>
<% end %>

<%# <div id='messages'> %>
  <% @comments.each do |comment| %>
    <p><%= comment.text %></p>
    <p><%= link_to comment.user.nickname, user_path(comment.user.id)%></p>
  <% end %>

<%# </div> %>