<%= render "shared/header.header" %>
<div class="user-show">
  <div class="user-side-profile">
    <div class="user-top">
        <%= image_tag @user.image, :size => '350x250' %>
    </div>
      <script>
        $('.user-top').show(2000);
      </script>
    <div class="user-main">
      <div class="user-nickname">
        <p><%= @user.nickname %></p>
      </div>
      <div class="user-genre">
        <p><%= @user.genre.name %></p>
      </div>
      <div class="user-area">
        <p><%= @user.prefecture.name %></p>
      </div>
      <div class="user-profile">
        <p id="user-profile-text"><%= @user.profile %></p>
      </div>
    </div>
    <div class="user-footer">
      <% if @user.id == current_user.id %>
        <button type="button" class="btn btn-primary"><%= link_to "編集する", edit_user_path(@user.id), :style=>"color:white;" %></button>
        <button type="button" class="btn btn-danger"><%= link_to "アカウント削除", user_path(@user.id), method: :delete ,:style=>"color:white;" %></button>
        <% else %>

        <% if @isRoom == true %>
          <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <button type="button" class="btn btn-success"><%= f.submit "チャットを始める" %></button>
            
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
    
  <div class="user-show-main-opuses">
  <ul class="user-show-opuses">
     <% @opuses.each do |opus| %>
      <li class="user-show-opus">
        <%= link_to opus_path(opus.id) do %>
          <% unless opus.youtube_url.nil? %>
            <iframe width="200" height="200" src="https://www.youtube.com/embed/<%= opus.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% else %>
            <%= image_tag opus.image.variant(resize: '200x200') %>
          <% end %>
          <p><%= opus.title %></p>
          <% end %>
      </li>
    <% end %>
  </ul>
 

</div>



<%# <div class="user-show-opus">
    </div>
    <div class="user-show-opus">
    </div> %>
  </div>