<div id="header-footer">
		<div class="list-boxs">
			<%= link_to "作品", opuses_path, class: "btn btn-outline-light" %>
		</div>
		<div class="list-boxs">
			<%= link_to "商品", items_path, class: "btn btn-outline-light" %>
		</div>

		<% if user_signed_in? %>
		<div class="list-boxs">
			<%= link_to "Likes", user_index_like_path(current_user.id), class: "btn btn-outline-light" %>
		</div>
		<div class="list-boxs">
			<%= link_to "マイページ", user_path(current_user.id), class: "btn btn-outline-light" %>
		</div>
		<div class="list-boxs">
			<%= link_to 'log out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
		</div>
		<% else %>
		<div class="list-boxs">
			<%= link_to "top", root_path, class: "btn btn-outline-light" %>
		</div>
		<div class="list-boxs">
			<%= link_to "log in", new_user_session_path, class:"btn btn-outline-light" %>
		</div>
		<div class="list-boxs">
			<%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-light" %>
		</div>
		<% end %>
		
		
			<script>
				$('.list-boxs').show(800);
			</script>
	</div>
