<div id="header-footer">
		<div class="list-boxs">
			<%= link_to "共同製作者を探す", root_path, class: "btn btn-lg" %>
		</div>
		<div class="list-boxs">
			<%= link_to "制作物を買う", items_path, class: "btn btn-lg" %>
		</div>
		<div class="list-boxs">
			<%= link_to "DM一覧", "#", class: "btn btn-lg" %>
		</div>
		<div class="list-boxs">
			<%= link_to current_user.nickname, user_path(current_user.id), class: "btn btn-lg" %>
		</div>
		<div class="list-boxs">
			<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-lg" %>
		</div>
			<script>
				$('.list-boxs').show(1000)
			</script>
	</div>
