<div class="room">
<div class="side">
  <div class="side-header">
    <div class="side-header-info">
      <h4>DM参加者</h4>
      <% @entries.each do |e| %>
      <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.nickname%>さん</a></strong></h5>
      <% end %>
    </div>
  </div>
 <div class=side-main>
 </div>
</div>
<div class="main">
    <div class="main-header">
    </div>
    <div class="main-main">
    <% if @messages.present? %>
    <% @messages.each do |m| %>
    <strong><%= m.content %></strong>
    <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.nickname %>さん</a></strong></small>
    <hr>
  <% end %>
 <% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
 <% end %>
  </div>
    <div class="main-footer">
      <%= bootstrap_form_for @message do |f| %>
        <div class="main-footer-left">
          <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
          <%= f.hidden_field :room_id, :value => @room.id %>
        </div>
      <div class="main-footer-right">
        <%= f.submit "送信" ,class:"btn btn-primary btn-lg"%>
      </div>
      <% end %>
    </div>
</div>
</div>









