
<div id="room">
  <div id="room-boxs">
    <div id="room-left">
      <div id="left-boxs">
        <div id="left-top">
          <h4>DM参加者</h4>
          <% @entries.each do |e| %>
          <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.nickname%>さん</a></strong></h5>
          <% end %>
        </div>
        <div id="left-bottom">
        </div>
      </div>
    </div>
    <div id="room-right">
      <div id="right-boxs">
        <div id="right-messages">
         <div id="main-main">
            <% if @messages.present? %>
            <% @messages.each do |m| %>
            <strong><%= m.content %></strong>
            <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.nickname %>さん</a></strong></small>
            <hr>
          <% end %>
        <% else %>
          <h3 class="text-center">メッセージはまだありません</h3>
        <% end %>
          </div>
        </div>
        <div id="right-send">
          <div id="room-right-bottom">
            <%= bootstrap_form_for @message do |f| %>
            <div id="message-send", style="display:inline-flex">
              <%= f.text_area :content, :placeholder => "メッセージを入力して下さい" , :size=> "80"%>
              <%= f.hidden_field :room_id, :value => @room.id %>
              <%= f.submit "送信" ,class:"btn btn-primary"%>
              <%= link_to "戻る", root_path,class:"btn btn-warning", id:"return-btn" %>
            </div>
          <% end %>
          </div>
 
        </div>
      </div>
    </div>
  </div>
</div>








