<%= render "shared/header.header" %>
<div class="opus-index">
	
	  <div class='item-contents'>
    <h2 class='title'>新着のグッズ</h2>
    <%= link_to '作品を出品してみる', new_item_path, class: "btn btn-dark btn-lg" %>
    <div>
		<%= search_form_for @p, url: search_items_path do |f| %>
				<%= f.text_field :name_eq, placeholder: "商品名を検索", class: 'input'%>
				<button class="btn btn-primary btn-lg">検索</button>
			<% end %>
		</div>
    <ul class='item-lists'>
      <% @items.each do |item| %>
      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
						<%= link_to item_path(item.id) do %>
						<div class='item-img-content'>
							<%= image_tag item.image.variant(resize: '500x500'), class: 'item-img' if item.image.attached? %>
						</div>
						<div class='item-info'>
							<h3 class='item-name'>
								<%= item.name %>
							</h3>
							<div class='item-price'>
								<span>¥<%= item.price %></span>
							</div>
						</div>
						<% end %>
        
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>